/* Global Styles */
body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: rgb(233, 233, 233);
}

nav h2 {
  margin: 0;
  margin-right: 20px;
  font-size: 24px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav ul > li {
  margin-right: 20px;
}

nav ul > li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

nav a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.searchContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
}

.inputQuery {
  padding: 10px;
  width: 400px;
  border-radius: 4px;
}

.inputQuery:focus {
  outline: none;
}

.orderContainer {
  display: flex;
  align-items: center;
  margin: 20px;
}

.orderContainer label {
  margin-right: 10px;
  font-size: 16px;
}

#sortOrder {
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
}

#sortOrder:focus {
  outline: none;
}

.quizBoxDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}

.quizBoxItem {
  flex: 1 1 300px;
  padding: 20px;
  background-color: #fff;
}

.notFoundMessage {
  padding: 20px;
  background-color: #ffcccb;
  color: #d8000c;
  border-radius: 4px;
  margin: 20px;
  display: none;
}

.playerInputContainer {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}

.playerInputContainer h3 {
  margin: 0 0 15px 0;
  font-size: 20px;
}

.playerInputContainer input {
  padding: 10px;
  width: calc(50% - 10px);
  margin-right: 10px;
  border-radius: 4px;

}

.playerInputContainer input:focus {
  outline: none;
}

.optionsList li {
  list-style: none;
}

.playerField {
  margin: 20px;
  padding: 20px;
  background-color: white;
}

.playerNameStyle {
  color: red;
}

@media (max-width: 768px) {
  .inputQuery,
  .playerInputContainer input {
    width: 100%;
  }
  .searchContainer {
    flex-direction: column;
    align-items: stretch;
  }
  .orderContainer {
    margin-top: 10px;
  }
}
